
.vehicle-icon {
  border-radius: 15px!important;
  background-color: #FFF;
  border: 1px solid #FFF;
}
.vehicle-icon-selected {
  background-color: #00bfff;
  border: 1px solid #00bfff;
}

.vehicle-icon:hover, .vehicle-icon-selected:hover {
  background-color: #00bfff;
  border: 1px solid #ccee77;
}

.vehicle-animate {
  -webkit-transition: all 3s ease-out;
  -moz-transition: all 3s ease-out;
  -o-transition: all 3s ease-out;
  transition: all 3s ease-out;
}

