{
  "branches": [
    "alpha",
    {
      "name": "semantic-release-monorepo",
      "prerelease": true
    }
  ],
  "repositoryUrl": "https://github.com/opentripplanner/otp-ui.git",

  "fail": [],
  "success": []
}
