{
  "fail": [],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/github",
    "@semantic-release/git",
    "@semantic-release/release-notes-generator",
    "semantic-release-pnpm"
  ],
  "repositoryUrl": "https://github.com/opentripplanner/otp-ui.git",
  "success": []
}
