.vehicle-circle {
  background: #000000; /* color of the circle */
  border-radius: 50%; /* make the div a circular shape */
  box-shadow: 4px 4px 3px grey; /* see http://www.w3schools.com/css/css3_shadows.asp */
  -moz-box-shadow: 4px 4px 3px grey;
  -webkit-box-shadow: 4px 4px 3px grey;
}
.vehicle-circle-selected {
  background-color: #00bfff;
}

.vehicle-icon {
  border-radius: 15px!important;
  background-color: #FFF;
  border: 1px solid #FFF;
}
.vehicle-icon-selected {
  background-color: #00bfff;
  border: 1px solid #00bfff;
}

.vehicle-icon:hover, .vehicle-icon-selected:hover, .vehicle-circle:hover {
  background-color: #00bfff;
  border: 1px solid #ccee77;
}

.vehicle-animate {
  -webkit-transition: all 3s ease-out;
  -moz-transition: all 3s ease-out;
  -o-transition: all 3s ease-out;
  transition: all 3s ease-out;
}

