jobs:
  test-build-release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          persist-credentials: false
      - name: Use Node.js 21.x
        uses: actions/setup-node@v4
        with:
          node-version: 21.x
          cache: "pnpm"
      - name: Install Playwright
        run: npx playwright install --with-deps
      - name: Lint code
        run: pnpm run lint:js
      - name: Lint styles
        run: pnpm run lint:styles
      - name: i18n check (en-US, fr only)
        run: pnpm run check:i18n-en-fr
      - name: Type check
        run: pnpm run typescript
      - name: Run unit tests
        run: pnpm run unit
      - name: Build Storybook
        run: pnpm run build-storybook --quiet
      - name: Serve Storybook and run test runner
        # env: 
        #   ONLY_RUN: SNAPSHOTS
        run: |
          npx concurrently -k -s first -n "SB,TEST" -c "magenta,blue" \
            "npx http-server storybook-static --port 5555 --silent" \
            "npx wait-on tcp:5555 && pnpm run test-storybook --ci"
      - env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
        name: Semantic Release
        run: pnpm run semantic-release
name: Node.js CI
"on":
  pull_request: null
  push:
    branches:
      - master
      - alpha
      - beta
      - next
      - next-major
      - "[0-9]+.[0-9]+.x"
      - "[0-9]+.x.x"
      - "[0-9]+.x"
